/* Chat container */
.chat-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr auto; 
    height: 100vh;
    width: 100%;
    background-color: var(--color-background);
    box-sizing: border-box;
}


.header {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.user-sidebar {
    grid-column: 1;
    grid-row: 2 / span 2; 
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    border-right: 1px solid var(--color-light-grey);
    overflow-y: auto;
}

/* Chat principal */
.chat-main {
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;
    padding: var(--spacing-lg);
    background: var(--color-background);
    box-sizing: border-box;
}

/* Input de chat abajo */
.chat-input {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    padding: var(--spacing-md);
    background: var(--color-white);
    border-top: 1px solid var(--color-light-grey);
}
